.tabs {
  margin: 10px;
}

.App {
  // border: 1px solid white;
  height: 100vh;
  background: url(../Assets/bg_logo.png) no-repeat right 90%;
  // background-image: url(../Assets/logo1.png);
  // background-repeat: no-repeat;
  // background-position: right 90%;
  background-size: 300px 300px;
}