// grid wrapper
.wrapper {
  display: flex;
  justify-content: center;
}

// grid container
.form_container {
  // border: 1px solid white;
  // display: grid;
  max-width: 90rem;
  // grid-template-columns: 1fr 3fr;
  // grid-template-rows: auto;
  // grid-template-areas: "sidebar main main main";
}

.product_form {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  padding: 1.25em;
}

.input_field {
  margin-bottom: 1em;
}

.add_item_btn {
  margin-bottom: 1em;
}

.table_container {
  border: 1px solid white;
}

.table_container td:last-child button {
  margin-right: 0.75em;
}

.side_nav {
  // border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

// x-small screens min-width: 320px
@media (min-width: 20em) {
  .form_container {
    display: block;
    min-width: 25rem;
  }
}

// small screens min-width: 640px
@media (min-width: 40em) {
  .form_container {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: auto;
  }
}
