.form-container {
  // border: 1px solid white;
  margin: 0 auto;
  display: flex;
  // should update with media queries
  max-width: 100vw;
}

.product-form {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
}

.input-field {
  margin-bottom: 10px;
}

.add_item_btn {
  // margin-left: 20px;
  margin-bottom: 20px;
}

.table_container {
  // border: 1px solid white;
  display: block;
  // margin: 0px 20px;
}

.table_container th:last-child button {
  margin-right: 10px;
}

.success_msg {
  // animation: 
  animation-duration: 5s;
}

.repurchase-label {
  // border: 1px solid #fff;
  margin-left: 10px;
}

.side-nav {
  // border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}