// grid wrapper
.wrapper {
  display: flex;
  justify-content: center;
}

// grid container
.form-container {
  // border: 1px solid white;
  // display: grid;
  max-width: 90rem;
  // grid-template-columns: 1fr 3fr;
  // grid-template-rows: auto;
  // grid-template-areas: "sidebar main main main";
}

.product-form {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  padding: 1.25em;
}

.input-field {
  margin-bottom: 10px;
}

.add_item_btn {
  // margin-left: 20px;
  margin-bottom: 1em;
}

.side-nav {
  // grid-area: sidebar;
}

.table_container {
  border: 1px solid white;
  // grid-area: main;
}

.table_container td:last-child button {
  margin-right: 0.75em;
}

.repurchase-label {
  // border: 1px solid #fff;
  margin-left: 10px;
}

.side-nav {
  // border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

// small screens min-width of 320px
@media (min-width: 20em) {
  .form-container {
    display: block;
    min-width: 30rem;
  }
}

// device screens of about min-width 640px
@media (min-width: 40em) {
  .form-container {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: auto;
  }
}
