header {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

.navbar {
  display: flex;
  align-items: baseline;
}

.logo {
  margin-right: 10px;
  width: 50px;
  // filter: opacity(0.6) drop-shadow(10px 5px 0 rgb(255, 255, 255));
  filter: brightness(0) invert(0.6);
}