header {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

.navbar {
  display: flex;
  align-items: baseline;
}

.logo {
  margin-right: 10px;
  width: 50px;
  // filter: brightness(0) invert(0.7);
}

.toggle--colorMode {
  // border: 1px solid white;
  padding: 0 10px;
  background: transparent;
  border-radius: 10px;
}

.toggle--colorMode:hover {
  background: RGBA(255, 255, 255, 0.08);
}