.wishlist_form {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
}

.input_field {
  margin-bottom: 10px;
}